*{
  transition: all 0.3s ease;
  
}
.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inpSide{
  display: flex;
  width: 35%;
  padding: 6%;
  flex-direction: column;
}
.printSide{
  margin: 5px;
}
.printSide:hover{
  background-color: #573d72;
  margin: 1px;
  padding: 4px;
}
button{
  border: 2px solid rgb(75, 116, 240);
  background-color: rgb(75, 116, 240);
  color: white;
}

button:hover{
  box-shadow: 0px 5px 9px rgb(133, 107, 160);
  border: 3px solid rgb(75, 116, 240);
  color: lightyellow;
}
input{
  border: 1px solid black;
  background-color: seashell;
}
#printroot{
  display: flex;
  width: 66%;
  padding: 5%;
  flex-direction: column;
  justify-content: space-around;
  
}
#inpName{
  height: 20px;
  
}
#inpTitle{
  height:40px;
  
}
#inpDescription{
  height: 70px;
}
.name {
  height: 25px;
  padding: 2px;
  background-color: seashell;
  border: 1px solid black;
}

.title{
  height: 35px;
  padding: 2px;
  background-color: seashell;
  border: 1px solid black;
}

.description {
  height: 75px;
  padding: 2px;
  background-color: seashell;
  border: 1px solid black;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #573d72; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: royalblue; 
}